*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color:#33475b;
}

.centratura{
  padding: 0 10%;
}

.posizione-clearfix{
  content: '';
  display: table;
  clear:both;
}

[class*="col-"]{
  float:left;
}

/* parametri generali menu */

li{
  display: inline-block;
}

a{
  text-decoration: none;
}

/* menu di sinistra superiore */
.back-down, .back-up{
   width:100%;
}
.back-up{
  background-color: #f5f8fa;
   border-bottom: 1px solid #cbd6e2;
   position: fixed;
}

.menu-left{
  margin-top:2%;
  margin-right: 68%;
}


#slash{
  width:30px;
  border-right:
    1px solid black;
  }


/* menu di destra superiore */
.menu-right{
  margin: 2% 0;
}

/* menu inferiore */

.immagine{
  width: 60%;
  margin-top:90px;
}

#logo{
  width:100px;
}

.mainmenu{
  width: 40%;
  height:50px;
  margin-top: 90px;
  padding-left: 4%;
}



/* blocco principale dell'header */
.head-img{
  width:100%;
  height:695px;
  background-image: url('img/jumbotron.png');
  background-repeat: no-repeat;
  box-shadow: inset 0px 2px 5px #dedede;
}

.grow{
  width: 60%;
  height:90%;
  padding: 10%;
}

main{
  width:100%;
  height:1000px;
  padding:5% 15%;
}

#cube{
  width:200px;
  margin-left: 40%;
}

.text{
  text-align: center;
}
